
<div class="box">
<nav>
  <div class="logo">Rifatura</div>
  <div class="nav-links">
    <span>Login</span>
  </div>
</nav>
<main>
<aside>
  <div class="rifa-img"></div>
  <h1>Nome da rifa</h1>
  <p>Descrição da rifa</p>
  <h2>R$ 15,00</h2>
  <button>Comprar</button>
</aside>
<section>
  <div class="filter">
    <input placeholder="Buscar" class="search-num">
    <div class="checkbox">
      <input value="available" name="available" type="checkbox">
      <span>Disponível</span>
    </div>
    
    <select name="order">
      <option value="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </div>
  <div class="numbers">
    <div  class="num-container">
      <div *ngFor="let num of numbers;" >
        <h1 *ngIf="num.owner === '' else available" class="number-box">{{num.id}}</h1>
        <ng-template #available>
          <h1 class="number-box" style="background-color: rgb(97, 208, 97);">{{num.id}}</h1>
        </ng-template></div>
    </div>
   
  </div>
</section>
</main>

<footer>

</footer>

</div>
<router-outlet />
