
<div class="box">
<nav>
  <div class="logo">Rifatura</div>
  <div class="nav-links">
    <span>Login</span>
  </div>
</nav>
<main>
<aside>
  <div class="rifa-img"></div>
  <h1>Nome da rifa</h1>
  <p>Descrição da rifa</p>
  <h2>R$ 15,00</h2>
  <button>Comprar</button>
</aside>
<section>
  <div class="filter">
    <input (keyup)="filterNum(input, checkbox, select)" placeholder="Buscar" class="search-num" #input>
    <div class="checkbox" >
      <input (change)="filterNum(input, checkbox, select)" value="available" name="available" type="checkbox" #checkbox>
      <span>Disponível</span>
    </div>
    
    <select (change)="filterNum(input, checkbox, select)" name="order" #select>
      <option value="asc">Ascendente</option>
      <option value="desc">Descendente</option>
    </select>
  </div>
  <div class="numbers">
    <div  class="num-container">
      @for(num of filteredNum(); track num){
        @if(num.owner){
          <h1 class="number-box">{{num.id}}</h1>
        }@else {
          <h1 class="number-box" style="background-color: rgb(97, 208, 97);">{{num.id}}</h1>
        }

      }

        
    </div>
   
  </div>
</section>
</main>

<footer>

</footer>

</div>
<router-outlet />
